<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trafficmi">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RoTIre"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".HelpCenter"></activity>
        <activity android:name=".RoadTrafficRepo"></activity>
        <!-- <uses-library -->
        <!-- android:name="com.google.android.wearable" -->
        <!-- android:required="true" /> -->
        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".Views.AccidentView"
            android:label="@string/title_activity_accident_view">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.ChoiceOfWorkMenu" />
        <activity
            android:name=".Views.ViewVehicleTheft"
            android:parentActivityName=".ReportVehicleTheft" />
        <activity
            android:name=".Views.DriverOffenseDetail"
            android:parentActivityName=".Views.DriverOffence" />
        <activity android:name=".UpdatedCarRecords" />
        <activity
            android:name=".ReportVehicleTheft"
            android:parentActivityName=".Views.ChoiceOfWorkMenu" />
        <activity
            android:name=".Views.AccidentScene"
            android:parentActivityName=".Views.ChoiceOfWorkMenu" />
        <activity
            android:name=".Views.DriverOffence"
            android:parentActivityName=".Views.ChoiceOfWorkMenu" />
        <activity android:name=".LogIn" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>